@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-x: hidden;
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
}

#main_editer {
    resize: horizontal;
    overflow: hidden;
}

#main_editer {
    overflow-x: hidden;
    font-family:monospace;
    font-weight: 600 !important;
    font-size: large;
    width: 1058px;
    position: relative;
    margin: auto;
    top: 32px;
    float: left;
    left: 164px;
    height: 500px;
    border-top: 42px solid #ff8964;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    cursor: pointer;
    color: slategray;
    overflow-x: scroll;
    overflow-y: scroll;

}

#main_editer:empty:not(:focus):before {
    content: attr(data-placeholder);
}


#main_editer:focus {
    outline: none;
    resize: horizontal;
}

#previwe {
    width: 1058px;
    position: relative;
    margin: auto;
    top: -510px;
    left: 164px;
    height: 500px;
    border-top: 42px solid #ff8964;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    cursor: pointer;

}

button {
    font-family: 'Roboto Mono', monospace; 
    font-weight: lighter;
    padding: 4.5px 13px;
    color: #808080;
    text-transform: capitalize;
    position: relative;
    left: 583px;
    bottom: -25px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    background-color: white;
    margin: auto;


}

button:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
    text-decoration: underline;
}

#previwe_ {
    position: fixed;
    top: 570px;
    left: 0px;
    display: inline-block;
}